h1 {
    color:black;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:blue;
    margin: 0;
    line-height: 1.6; 
}
header {
    background-color:blueviolet;
    color:brown;
    text-align: center;
    padding: 30px 20px;
}
nav {
    background-color:aliceblue;
    text-align: center;
    padding: 12px;
}
nav a